.container {
    position: relative;
}

.image {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 1000px;
    max-width: 1000px;
    background-color: whitesmoke;
    min-height: 750px;
    max-height: 750px;
}

.image img {
    max-width: 1000px;
    max-height: 750px;
}

.buttons {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 750px;
}